In [1]:
## python에서 몽고db를 연결하려면 라이브러리
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 7.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     ------------------------------------- 269.1/269.1 kB 16.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.3

In [2]:
from pymongo import MongoClient

In [3]:
client = MongoClient(
    host = 'localhost',
    port = 27017
)

In [6]:
## mongodb에 있는 데이터베이스 목록 출력
client.list_database_names()

['admin', 'config', 'local']

In [5]:
## 데이터접근 use와 같은 기능 사용
## mongodb에서는 use을 이용하면 새로운 데이터베이스 생성
db = client['ubion']

In [8]:
## collection 접근 (collection은 sql에 table과 같은 의미)
collection = db['test']

In [12]:
### CRUD (create read update delete)

## create -> insert()
## insert_many() / insert_ond() 두개의 함수가 존재
## sql에서도 같은 기능이 존재
## insert into table명(필드 지정) values (데이터 값)
data = { 
    "id" : "test",
    "password" : "1234"
}
collection.insert_one(data)

In [13]:
collection.find_one()

{'_id': ObjectId('63ace0f4a6ef2cd746ac5865'), 'id': 'test', 'password': '1234'}

In [14]:
data = [
    {
        "name" : "test",
        "phone" : "01012345678",
        "gender" : "male"
    },
    {
        "loc" : "seoul"
    }
]
collection.insert_many(data)

1. sql에서 id,pass데이터 / name,phone,gender데이터/loc데이터가 존재한다면 어떤 형식으로 구현
2. table을 3개 생성
3. 각 table에 데이터들을 저장
4. 이유는 sql은 정형화 데이터를 저장하는 방식이기 때문

In [18]:
##                         mysql에서 {} where 조건
list(client['ubion']['test'].find({},{"name":1}))
### select name from test

[{'_id': ObjectId('63ace0f4a6ef2cd746ac5865')},
 {'_id': ObjectId('63ace313a6ef2cd746ac5866'), 'name': 'test'},
 {'_id': ObjectId('63ace313a6ef2cd746ac5867')}]

In [19]:
## update 수정
collection.update_one(
    {
        "id" : "test"
    },
    {
        "$set" : {
            "password" : "0000" 
        }
    }
)

In [20]:
list(collection.find())

[{'_id': ObjectId('63ace0f4a6ef2cd746ac5865'),
  'id': 'test',
  'password': '0000'},
 {'_id': ObjectId('63ace313a6ef2cd746ac5866'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace313a6ef2cd746ac5867'), 'loc': 'seoul'}]

In [21]:
##삭제, delect
collection.delete_one(
    {
        "id" : "test"
    }
)

In [23]:
list(collection.find())

[{'_id': ObjectId('63ace313a6ef2cd746ac5866'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace313a6ef2cd746ac5867'), 'loc': 'seoul'}]

### mongodb select 조건식
find(조건1, 조건2, 조건3 ....., 컬럼 선택)
1. db.collection.find() -> select * from table
2. db.collection.find({},{"id" : 1, "password":1}) -> select _id,id,password from table
3. db.collection.find({},{"id":1,"password":1,"_id":0}) -> select id,password from table( _id라는 항목은 보여주지 않겠다.)
4. db.collection.find({"id":"test"}) -> select * FROM table where id ='test'
5. db.collcetion.find({"id":"test","password":"1234"}) ->select * from table where id='test' and password='1234'
6. db.collection.find({"id":"test"},{"password":"1234"}) -> select * from table where id ='test or password='1234'
7. db.collection.find({"age" : {$gt : 25}}) ->select * from table where age >25
8. db.collection.find({"age":{%lt:25}}) - > select * from
table where age < 25
9. db.collection.find({"id" : {/bc/}}) ->select * from table where od like '%bc%'
10. db.collection.find().sort({"id":1}) ->select * from
table order by id asc
11. db.collection.find().sort({"id":-1}) ->select * from
table order by id DESC
12. db.collection.find().limit(10) -> select * from table limit 10